@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/DefaultStyle.css" />

<div class="slide-right">
    <h1 class="welcome">W E L C O M E </h1>

</div>

