@page
@model ECommerce.Web.Pages.LogoutPageModel
@{
}


<form method="post">
    <div class="container mt-5">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <p>Do you really want to logout?</p>
            <p>
                <button class="btn-primary" asp-page-handler="Logout">Yes</button>
                <button class="btn btn-light ml-5 border-dark" asp-page-handler="DontLogout">No</button>
            </p>
        </div>
    </div>
</form>
